.JobItem {

	text-transform: unset !important;
	padding: 0 !important;
	width: 100%;

	.Avatar {
		margin-right: 1rem;
	}

	.info {
		display: grid;
		grid-template-rows: 1fr 1fr;
		column-gap: 1rem;

		.MuiChip-root {

		}

		.meta-data {
			display: flex;

			> .MuiChip-root {
				margin-right: 1rem !important;
			}
		}

	}


	.Line {
		display: grid;
		grid-template-columns: 5rem 1fr;
		grid-column-gap: 1rem;

		.header {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.chips {
			display: flex;
			align-items: center;
			flex-direction: column;

			.Chip {
				margin-bottom: 0.25rem;
				margin-top: 0.25rem;
				width: fit-content;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		margin-top: 1rem;
		margin-bottom: 1rem;
		max-width: 15rem;
	}
}
