

.JobItem {

	text-transform: unset !important;
	padding: 0 !important;
	width: 100%;

	.MuiTab-root {
		min-width: 72px;
	}


	.Line {

		padding: 0 1rem;


		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}
