.MappingCreate {


	.FormControl {
		min-width: 15rem;
		margin-right: 3rem;
	}

	.selectEmpty {
		margin-top: 2rem;
	}

	.Container {
		margin-top: 4rem;
	}

	h6 {
		margin-bottom: 1rem;
	}

	.MuiFormControl-root {
		margin-left: 0;
	}


	.image-container {
		margin-bottom: 1.5rem;
	}


	.MuiFormControlLabel-label {
		transform: scale(0.75);
	}

	.button-validate-container {
		margin-top: 4rem;
	}

	height: 100%;
}
