.Mappings {
	width: 100%;

	.Avatar {
		margin-right: 1rem;
	}

	.Mapping {
		text-transform: unset !important;
		width: 100%;

		.info {
			display: grid;
			grid-template-rows: repeat(3, 1fr);
		}

		padding: 0
	}

	overflow-x: hidden;

}


