.MappingCreate {

	height: 100%;
	width: 100%;
	max-height: 100%;
	overflow-y: auto;

	.title {
		margin-top: 1rem;
		text-align: center;

		span {
			font-size: large !important;
		}
	}


	.FormControl {
		min-width: 15rem;
	}

	.FormControl-NoMargin {
		margin-right: 0 !important;
	}

	.FormControl-Margin,
	.FormControl {
		margin-right: 3rem;
	}

	.selectEmpty {
		margin-top: 2rem;
	}

	.Container {
		margin-top: 4rem;
		padding: 0 3rem;
	}

	h6 {
		margin-bottom: 1rem;
	}

	.MuiFormControl-root {
		margin-left: 0;
	}


	.image-container {
		margin-bottom: 1.5rem;
		margin-top: 1.5rem;
		display: flex;
		flex-direction: column;
		margin-left: -1.5rem;
		padding-left: 1.5rem;

		width: 100%;

		&.selected {
			background-color: rgba(255, 255, 255, .05);
		}

		.tuple {
			display: grid;
			grid-template-columns: 5fr 4fr;
			background-color: rgba(255, 255, 255, 0);

		}

		.triple {
			display: grid;
			grid-template-columns: 3fr 2fr 1fr 2fr;
			background-color: rgba(255, 255, 255, 0);
		}

	}


	.MuiFormControlLabel-label {
		transform: scale(0.75);
	}

	.button-validate-container {
		margin-top: 3rem;
		padding-bottom: 1rem;
	}

	.Container {

	}

	.no-logged {
		height: 95%;
		width: 100%;
	}

	.tabs {
		margin: 1rem;
	}

	.MappingCreateBuildBake {
		width: 33.8rem;
	}

}
